name: Build Masquerade

on:
  push:
    branches: [ci_cd_support_1]
  pull_request:
    branches: [ci_cd_support_1]

env:
  BUILD_ROOT: ${{ github.workspace }}/build

jobs:
  build_windows:
    name: Build Windows (MSVC + vcpkg)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Cache vcpkg
        uses: actions/cache@v3
        with:
          path: ${{ env.BUILD_ROOT }}/vcpkg_installed
          key: windows-vcpkg-${{ hashFiles('**/vcpkg.json') }}

      - name: Setup vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git "${{ env.BUILD_ROOT }}\vcpkg"
          & "${{ env.BUILD_ROOT }}\vcpkg\bootstrap-vcpkg.bat"
      
      - name: Install dependencies
        run: |
          & "${{ env.BUILD_ROOT }}\vcpkg\vcpkg.exe" install boost:x64-windows SDL3:x64-windows glad:x64-windows

      - name: Configure CMake
        run: |
          cmake -G "Visual Studio 17 2022" ^
            -DCMAKE_TOOLCHAIN_FILE="${{ env.BUILD_ROOT }}\vcpkg\scripts\buildsystems\vcpkg.cmake" ^
            -DCMAKE_DEFAULT_BUILD_TYPE=Release ^
            -S . ^
            -B "${{ env.BUILD_ROOT }}\windows\x86_64\msvc\solution_IDE"

      - name: Build
        run: cmake --build "${{ env.BUILD_ROOT }}\windows\x86_64\msvc\solution_IDE" --config Release

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: windows-build
          path: "${{ env.BUILD_ROOT }}\windows\x86_64\msvc\solution_IDE\Release"

  build_linux:
    name: Build Linux (Ninja + vcpkg)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Cache vcpkg
        uses: actions/cache@v3
        with:
          path: ${{ env.BUILD_ROOT }}/vcpkg_installed
          key: linux-vcpkg-${{ hashFiles('**/vcpkg.json') }}

      - name: Setup vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git "${{ env.BUILD_ROOT }}/vcpkg"
          "${{ env.BUILD_ROOT }}/vcpkg/bootstrap-vcpkg.sh"

      - name: Install dependencies
        run: |
          "${{ env.BUILD_ROOT }}/vcpkg/vcpkg" install boost SDL3 glad

      - name: Configure CMake
        run: |
          cmake -G "Ninja" \
            -DCMAKE_TOOLCHAIN_FILE="${{ env.BUILD_ROOT }}/vcpkg/scripts/buildsystems/vcpkg.cmake" \
            -DCMAKE_DEFAULT_BUILD_TYPE=Release \
            -S . \
            -B "${{ env.BUILD_ROOT }}/linux/ninja"

      - name: Build
        run: cmake --build "${{ env.BUILD_ROOT }}/linux/ninja"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: linux-build
          path: "${{ env.BUILD_ROOT }}/linux/ninja"

  build_emscripten:
    name: Build Emscripten (Ninja)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Emscripten
        uses: emscripten-core/setup-emsdk@v3
        with:
          emsdk-version: latest

      - name: Configure CMake
        run: |
          emcmake cmake -G "Ninja" \
            -DCMAKE_DEFAULT_BUILD_TYPE=Release \
            -S . \
            -B "${{ env.BUILD_ROOT }}/emscripten/ninja"

      - name: Build
        run: cmake --build "${{ env.BUILD_ROOT }}/emscripten/ninja"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: emscripten-build
          path: "${{ env.BUILD_ROOT }}/emscripten/ninja"
